<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="IMCODBEntities" connectionString="metadata=res://*/IMCO_DBStructure.csdl|res://*/IMCO_DBStructure.ssdl|res://*/IMCO_DBStructure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=imcodb.c6k9mpvoxvz1.ap-south-1.rds.amazonaws.com;initial catalog=IMCODB;persist security info=True;user id=admin;password=User123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>